body {
	margin: auto;
	float: left;
	width: 100%;
	height: 100%;
	background-color: #fff;
}

#content-1 {
    float: left;
    width: 100%;
}

#result-container {
	margin: auto; 
        width: 86vw;
}

#header p {
	color: #fff;
        font-size: 4.58vw;
        line-height: 4vw;
}

.result-div {
        margin-top: 6vw;
}

.result-div p {
	font-family: Corisande Regular;
        font-size: 3.92vw;
        color: #414c58;
        margin-left: 2vw;
}

.result-indicator {
        width: 1.8vw;
        vertical-align: bottom;
        //position: relative;
        //top: -7.6vw;
}

.result-score {
        font-family: PantonW01-Black;
        font-size: 4.58vw;
        color: #414c58;
        margin-top: 3.6vw;
        margin-bottom: 5vw;
}

.result-score-label{
        width: 28.76vw;
        line-height: 7vw;
        text-align: center;
}

.result-score-text {
        width: 7vw;
        height: 7vw;
        background-color: #f8ed16;
        border-radius: 2vw;
        line-height: 7vw;
}

#next_button_link_result {
        padding: 2vw 2vw;
}

.result-advanced {
        padding-top: 4vw;
}

.result-advanced-img {
        width: 20.67vw;
        float: left;
}

.result-advanced-img img{
        width: 100%;
}

.result-advanced-text {
        float: left;
        margin-left: 4vw;
        font-family: Corisande Regular;
        font-size: 3.92vw;
        color: #414c58;
        width: 50vw;
}

.result-advanced-text-value {
        font-family: PantonW01-Light;
        font-size: 8.17vw;
}

.result-advanced-text-value p {
    float: right;
}

.result-advanced-text-value span{
        font-size: 3.92vw;
}

.result-advanced-text-value-1 {
    float: left;
}

.result-advanced-social {
        padding-top: 24vw;
}

#result-comparison {
        display: none;
        width: 86vw;
        margin: auto;
        padding-top: 5vw;
}

#result-text {
    margin-bottom: 50px;
}

.result-footer {
    border-top: 1px solid black;
}

.result-footer img {
    width: 100%;
}

.comparison-div {
    margin-top: 7vw;
    float: left;
    width: 96%;
    padding-left: 2vw;
    padding-right: 2vw;
}

.comparison-div-text {
    float: left;
    width: 54%;
}

.comparison-div-img {
    text-align: center;
    float: left;
    width: 44%;
}

.comparison-div-img img{
    width: 13.81vw;
}

.comparison-div-text-title {
    font-family: Corisande Regular;
    font-size: 4.41vw;
    margin-bottom: 2vw;
}

.comparison-div-text-genstande {
    font-size: 3.43vw;
}

.comparison-div-text-genstande img{
    width: 6.2vw;
    float: right;
    margin-top: -1vw;
}

.comparison-div-text-number {
    font-family: PantonW01-Black;
    font-size: 18vw;
    line-height: 18vw;
}

#comparison-graph {
    float: left;
}

#comparison-graph img{
    width: 31.62vw;
}

.comparison-graph-text {
    font-family: Corisande Regular;
    font-size: 4.41vw;
    width: 43vw;
    margin-top: 8vw;
    margin-left: 9vw;
}

#result-tips {
    display: none;
    width: 86vw;
    margin: auto;
    padding-top: 4vw;
}

#result-tips ul {
    font-family: Corisande Regular;
    font-size: 3.92vw;
    padding-left: 5vw;   
    list-style: none;
}

#result-tips ul li
{
    color: #414c58;
    position: relative;
}

#result-tips ul li:before
{
    position: absolute;
    display: block;
    content: '\2022';
    text-indent: -999999px;
    left: -5vw;
    width: 3vw;
    height: 3vw;
    background-repeat: no-repeat;
    background-image: url('img/bullet.png');
    background-size: 2.21vw 2.21vw;
    background-position: 0 1vw;
}

#result-tips ul li p
{
    color: #000000;
}

#result-tips .footer {
    padding: 0;
    margin-top: 4vw;
}

#vertical-result-border, #vertical-comparison-border, #horizontal-comparison-border {
    display: none;
}

.footer-line {
    display: none;
}

.comparison-graph-text-percent {
    display: none;
}

.result-graph-labels {
    font-family: Corisande Regular; 
    font-size: 2.94vw; 
    color: #64c2c4;
}

#result-graph {
    background-image: url(img/result-graph.png);
    background-size: 100% 100%;
    width: 100%;
    height: 10.87vw;
    float: left;
    display: table;
}

.next-button-penge {
        margin-left: 0;
        margin-top: 10vw;
    }
	
.gode-rad-button {
	margin-top: -19vw;
}

.question-title {
    color: #69c2c3;
    margin-bottom: 4vw;
}

.form-row label {
    position: relative;
    height: 8vw;
    padding-left: 9vw;
    padding-top: 1.7vw;
    margin-right: 3vw;
}

.form-row label:before {
    content: "";
    display: inline-block;
    width: 6vw;
    height: 6vw;
    margin-right: 0.82vw;
    position: absolute;
    left: 0;
    bottom: 0.08vw;
    background-color: #FFFFFF;
    //border: 0.25vw solid #4CADA6;
    border: 2px solid #414c58;
}

.form-row label:before {
    border-radius: 100%;
}

input[type=radio]:checked + label:before {
    background: #414c58;
}

input[type=checkbox]:checked + label:before {
    background: #414c58;
}

.form-row > input[type=radio] {
    display: none;
}

.ja-nej-button-res {
    display: block;
}

.ja-nej-buttons-res {
    height: 10vw; 
    margin-bottom: 4vw
}

.ja-nej-button-res {
    width: 15vw;
    border-radius: 2vw;
    margin: 0 5vw;
    cursor: pointer;
    float: left;
}

.ja-nej-button-res-text a {
    font-family: PantonW01-Light;
    font-size: 4.25vw;
}

.next-button-res {
	width: 22vw;
	border-radius: 2vw;
        margin: auto;
        margin-top: -2vw;
        background-color: #f7f722;
}

.next-button-res span {
        font-size: 4.58vw;
        font-family: PantonW01-Light;
        text-decoration: none;
        color: #414c58;
        padding: 2vw 19.5vw;
}

.next-button-res-text {
	text-align: center;
	padding: 2.5vw;
}


@media only screen and (min-width: 768px) 
{
    #header p {
        font-size: 2.05vw;
        line-height: 3vw;
    }
    
    #result-container {
        width: 90vw;
    }
    
    .result-div {
        margin-top: 3vw;
    }
    
    .result-div p {
        font-size: 1.76vw;
        margin-left: 0;
    }
    
    .result-graph-labels {
        font-size: 1.3vw;
    }
    
    .result-indicator {
        width: 0.9vw;
        top: -3.8vw;
    }
    
    .result-container-col {
        width: 38vw;
        margin: 0 2.7vw 8vw 2.7vw;
        float: left;
    }
    
    .result-score {
        font-size: 1.76vw;
        margin-top: 2.7vw;
        margin-bottom: 3.5vw;
    }
    
    .result-score-label {
        width: 12vw;
        line-height: 3.5vw;
        text-align: left;
    }
    
    .result-score-text {
        width: 3.5vw;
        height: 3.5vw;
        border-radius: 0.5vw;
        line-height: 3.5vw;
    }
    
    .result-border {
        display: none;
    }
    
    .result-advanced, .result-advanced-social {
        float: left;
        padding-top: 5vw;
        width: 53vw;
    }
    
    .result-advanced-img {
        width: 8vw;
    }
    
    .result-advanced-text {
        font-size: 1.76vw;
        width: 42vw;
        margin-left: 3vw;
    }
    
    .result-advanced-text-value {
        font-size: 3.81vw;
    }
    
    .result-advanced-text-value span {
        font-size: 1.86vw;
    }
    
    .result-advanced-text-value-1 {
        float: left;
        width: 15vw;
    }
    
    .result-advanced-text-value p {
        float: left;
    }
    
    .result-div .next-button {
        margin-top: 10vw;
    }
    
    .result-div .money {
        //margin-top: 5vw;
    }
    
    #vertical-result-border {
        width: 2.25vw;
        float: left;
        display: block;
    }
    
    .comparison-div {
        width: 34vw;
        margin: 12vw 2vw 0 4vw;
    }
    
    .comparison-div-text-title {
        font-size: 1.76vw;
        margin-bottom: 0.7vw;
    }
    
    .comparison-div-text-genstande {
        font-size: 1.37vw;
    }
    
    #genstand-result-logo-img, .comparison-div-text-genstande img, #tilbage {
        width: 2.44vw;
        margin-top: -0.6vw;
        cursor: pointer;
    }
    
    .comparison-div-text-number {
        font-size: 7.13vw;
        line-height: 10vw;
    }
    
    .comparison-div-img img {
        width: 5.47vw;
        margin-top: 1vw;
    }
    
    #vertical-comparison-border {
        width: 1.46vw;
        float: left;
        display: block;
    }
    
    #horizontal-comparison-border {
        width: 80.66vw;
        display: block;
        margin: 0 2vw;
    }
    
    #comparison-graph img {
        width: 13.82vw;
    }
    
    .comparison-graph-text {
        font-size: 1.76vw;
        width: 24.22vw;
        margin-top: 1vw;
        margin-left: 2vw;
    }
    
    .comparison-graph-text span {
        display: none;
    }
    
    .comparison-graph-text-percent {
        display: block;
        font-size: 6.1vw;
        font-family: PantonW01-Light;
    }
    
    .graph {
        width: 41vw;
        margin-top: 7vw;
        margin-left: 22.5vw;
        margin-bottom: 0;
    }
    
    .footer-line {
        display: block;
    }
    
    .gode-rad-button {
        margin: 4vw 26vw 2vw 26vw;
    }
    
    #result-tips {
        width: 100%;
    }
    
    #result-tips ul {
        font-size: 1.86vw;
    }
    
    #result-tips ul li p {
        margin-bottom: 3vw;
    }
    
    .result-tips-col {
        float: left;
        width: 41vw;
        margin: 0 2vw;
    }
    
    .footer {
        width: 100%;
        cursor: pointer;
    }
    
    #result-tips .footer {
        padding-left: 5vw;
    }
    
    #result-tips ul li:before
    {
        left: -2.5vw;
        width: 2vw;
        height: 2vw;
        background-size: 1.5vw 1.5vw;
        background-position: 0;
    }
    
    #result-graph {
        height: 4.83vw;
    }
    
    .result-advanced-main {
        margin: 0 17vw;
        width: 53vw;
        float: left;    
    }
    
    .result-advanced-main .result-div {
        margin-top: -3vw;
    }
    
    .next-button-penge {
        margin-left: -100vw;
        margin-top: -18vw;
    }
    
    .question-title {
        font-size: 2.35vw;
        margin-bottom: 0;
    }
    
    .result-border-question {
        margin-top: 1.2vw;
        margin-bottom: 1.2vw;
    }
    
    .form-row {
        margin-top: 1vw;
    }
    
    .form-row label {
        display: none;
    }
    
    .ja-nej-button-res {
        width: 11vw;
        border: 0;
        border-radius: 1vw;
        margin: 0 3vw;
    }
    
    .ja-nej-buttons-res {
        margin-bottom: 0;
        height: 8vw;
    }
    
    .next-button-res {
        width: 15vw;
        border-radius: 1vw;
        margin-top:0;
    }
    
    .next-button-res-text {
        padding: 1.5vw;
    }
    
    .next-button-res span {
        font-size: 1.76vw;
        padding: 1vw 10vw;
    }
    
	
}


