html {
	background-image: url(../images/splash-screen.png);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	height: 100vh;
}

#logo-splash {
    float: left;
    position: absolute;
    top: 3%;
    left: 34%;
    width: 34%;
}

#splash-screen {
    padding-top: 37%;
    display: none;
}

p {
    margin: auto;
    padding: 0;
    text-indent: 0;
    text-align: center;
    text-transform: none;
    text-decoration: none;
    color: #fff;
    letter-spacing: normal;
}

.splash-div-1 {
    font-family: PantonW01-Black;
    font-size: 5.88vw;
    width: 80%;
    margin: auto;
}

.splash-div-1 img {
    width: 44.2vw;
    margin-top:2.73vw;
    margin-bottom: 12.21vw;
}

.splash-div-2 {
    font-family: Corisande Regular;
    font-size: 3.92vw;
}

.splash-div-2 img {
    width: 70%;
    margin-top: 4%;
    margin-bottom: 15%;
}

.splash-div-3 {
    font-family: PantonW01-Light;
    font-size: 4.58vw;
    color: #000;
    margin-bottom: 8%;
}

.splash-div-4 {
    font-family: Corisande Regular;
    font-size: 3.43vw;
    text-align: left;
    color: #fff;
}

.splash-div-4 img{
    width: 15%;
    margin-left: 7%;
    margin-right: 3.5%;
    float: left;
    position: relative;
}

.splash-div-5 {
    float: left;
    margin-top: 2%;
    width: 73%;
}

.splash-div-6 {
    background-color: #f9f906;
    height: 4.58vw;
    float: left;
    width: 100%;
    margin-top: -1.2vw;
}

.span {
  font-weight: normal;
  color: #f6eb13;
}

.span-1 {
  font-weight: 500;
  color: #f6eb13;
}

.start-button {
	width: 49%;
	border-radius: 2vw;
        background-color: #f9f906;
        margin: auto;
}

.start-button-text {
	text-align: center;
	padding: 3vw;
	color: #000;
}

.start-button-text a {
	color: #000;
	font-size: 4.58vw;
        font-family: PantonW01-Light;
}

a {
    text-decoration: none;
    color: #fff;
}

a:link {
    text-decoration: none;
}

#splash-screen .footer-line {
    margin-top: -1.2vw;
}

.modal-body p {
    color: #414c58;
    text-align: left;
    font-size: 3.59vw;
}

@media only screen and (min-width: 768px) {
    
    #logo-splash {
        top: 1.81vw;
        left: 80vw;
        width: 15.63vw;
    }

    #splash-screen {
        padding-top: 7vw;
        display: block;
    }

    .splash-div-1 {
        font-size: 2.73vw;
        width: 60%;
    }
    
    .splash-div-1 img {
        width: 25.39vw;
        margin-top: 4.3vw;
        margin-bottom: 4.64vw;
    }

    .splash-div-2 {
        font-size: 1.76vw;
    }
    
    .splash-div-2 img {
        width: 32vw;
        margin-top: 2.6vw;
        margin-bottom: 5.4vw;
    }
    
    .splash-div-3 {
        font-size: 1.76vw;
        margin-bottom: 6.6vw;
    }
    
    .start-button {
        width: 25%;
        border-radius: 1vw;
    }
    
    .start-button-text {
        padding: 1vw;
    }
    
    .start-button-text a {
        font-size: 1.76vw;
    }
    
    .splash-div-4 {
        font-size: 1.46vw;
    }
    
    .splash-div-4 img {
        width: 7.9vw;
        margin-left: 4.25vw;
        margin-right: 1.7vw;
    }
    
    .splash-div-5 {
        margin-top: 1vw;
    }
    
    .splash-div-6 {
        height: 2.7vw;
    }
    
    .modal-content p {
        font-size: 1.46vw;
        border-radius: 1vw;
    }
}

@media only screen and (max-width: 425px) {
	

}