body {
	font-family: 'Roboto', sans-serif;
	margin: auto;
	float: left;
	max-width: 1024px;
	width: 100%;
	height: 100%;
	background-color: #fff;
}

#header {
	float: left;
	width: 100%;
	max-height: 151px;
	max-width: 1024px;
	display: table;
}

#header-title {
	
}

#content-1 {
	float: left;
	width: 100%;
}

#top-bar {
	width: 100%;
	max-width: 1024px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#top-bar-tin {
    width: 0.084%;
    float: left;
}

#top-bar-tin2 {
    width: 1%;
    float: left;
}

.text-style-3 {
	margin: 0;
	padding: 0;
        width: 100%;
	text-indent: 0;
	text-align: center;
	font: 500 60px/60px Roboto;
	text-transform: none;
	text-decoration: none;
	color: #fff;
	letter-spacing: normal;
        vertical-align: middle;
}

#info-container {
	float: left;
	width: 100%;
	border-bottom: 1px solid black;
	display: table;
}

#info-div {
	display: table-cell;
	vertical-align: middle;
}

#left-arrow-info {
    float: left;
    width: 3.5%;
    margin-left: 11.33%;
}

#info-button {
    float: right;
    width: 6.25%;
    margin-right: 11.33%;
}

#test-container {
	margin-top: 130px;
	margin-left: auto;
        margin-right: auto;
}

#form-test {
	
	top: 0;
	left: 0;
    height: 100%;
    width: 100%;
}

.question-title {
	font-style: normal;
	font-weight: 700;
	font-size: 43px;
	color: #373737;
	margin-bottom: 50px;
}

.form-row {
	color: #4cada6;
	font-style: normal;
	font-weight: 400;
	font-size: 43px;
	text-align: left;
	margin-bottom: 30px;
}

label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	height: 100px;
	padding-left: 180px;
        padding-top: 15px;
	margin-right: 15px;
}

input[type=radio] {
	display: none;
}

label:before {
	content: "";
	display: inline-block;
	width: 94px;
	height: 94px;
	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background-color: #FFFFFF;
	border: 3px solid #4CADA6;
}

.radio label:before {
	border-radius: 100%;
}

input[type=radio]:checked + label:before {
	background: #4CADA6;
	box-shadow: 0 0 0 0.25em #000;
}

@media only screen 
  and (max-width: 720px) 
  and (max-height: 1280px)
  and (orientation: portrait) {
	#header {
		height: 8%;
	}

	#content-1 {
		height: 92%
	}

}

@media all and (orientation: portrait) {
	#header {
		height: 8%;
	}

	#content-1 {
		height: 92%
	}
}

@media all and (max-width: 850px) {
    .question-title,.form-row {
        font-size: 35px;
    }
    
    label {
        padding-left: 150px;
        padding-top: 25px;
    }
    
    label:before{
        width: 80px;
        height: 80px;
    }
    
    .form-row {
        margin-bottom: 24px;
    }
    
    #test-container {
        margin-top: 100px;
    }
}
