body {
    margin: auto;
    float: left;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

#test-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 16.3vw;
}

#content-1 {
    float: left;
    width: 100%;
}

#general-questions {
    padding-left: 8vw; 
}

.form-general-row{
    margin-bottom: 14vw;
    width: 86vw;
    float: left;
    font-family: PantonW01-Light;
}

.form-general-row label{
    font-family: PantonW01-Black;
    font-size: 4.58vw;
    color: #414c58;
}

.form-general-row-radio {
    float: left;
    font-size: 3.92vw;
    color: #afaeae;
    padding-left: 2vw;
    padding-right: 10vw;
    padding-top: 2.6vw;
}

#female-test-img{
    width: 10.38vw;
}

#man-test-img {
    width: 10.58vw;
}

.form-general-row-radio > input{ /* HIDE RADIO */
        //visibility: hidden; /* Makes input not-clickable */
        //position: absolute; /* Remove input from document flow */
}

.form-general-row-radio > input + img{
    cursor:pointer;
}

#Test_age {
    border: 0;
    width: 6vw;
    margin-left: 4vw;
    margin-right: 0.5vw;
    font-family: PantonW01-Light;
    font-size: 4.58vw;
    box-sizing: content-box;
}

#test_rangeslider {
    margin-top: 7vw;
}

#test_rangeslider_number {
    width: 79vw; 
    margin-top: 3.5vw; 
    font-size: 4.58vw;
}

.form-general-row span {
    font-size: 3.43vw;
}

#horizontal-border, #vertical-border {
    display: none;
}

#test-questions {
    display: none;
}

#Test_school {
    //border: 0.5vw solid #69c2c3;
    border: 2px solid #69c2c3;
    -moz-border-radius: 1vw;
    -webkit-border-radius: 1vw;
    border-radius: 1vw;
    height: 8.91vw;
    width: 63vw;
    margin-right: 3vw;
    margin-top: 6vw;
    padding-left: 2vw;
    font-family: PantonW01-Light;
    font-size: 3.92vw;
}

#test-school-img {
    width: 12.83vw;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    text-indent: 0.01px;
    background-color: white;
    text-overflow: '';
}

.question-title {
    font-family: Corisande Regular;
    font-size: 4.43vw;
    color: #373737;
    margin-bottom: 12vw;
    display: table;
}

.question-title-row {
    display: table-row;
}

.number {
    width: 5.5vw;
    display: table-cell;
}

.form-row {
    color: #4cada6;
    font-style: normal;
    font-weight: 400;
    font-size: 3.7vw;
    text-align: left;
    margin-bottom: 3vw;
}

.form-row label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    height: 8.17vw;
    padding-left: 15vw;
    padding-top: 1.62vw;
    margin-right: 1.22vw;
    font-family: Corisande Light;
}

.form-row > input[type=radio] {
    display: none;
}

.form-row > input[type=checkbox] {
    display: none;
}

.form-row label:before {
    content: "";
    display: inline-block;
    width: 7.68vw;
    height: 7.68vw;
    margin-right: 0.82vw;
    position: absolute;
    left: 0;
    bottom: 0.08vw;
    background-color: #FFFFFF;
    //border: 0.25vw solid #4CADA6;
    border: 2px solid #4CADA6;
}

.radio label:before {
    border-radius: 100%;
}

input[type=radio]:checked + label:before {
    background: #4CADA6;
}

input[type=checkbox]:checked + label:before {
    background: #4CADA6;
}

#previous-question {
    border-top: 0.08vw solid #000000;
    display: none;
}

#tilbage {
    cursor: pointer;
    background-color: white;
}

#footer-test {
    display: none;
}

.number-img {
    display: none;
}

.disclaimer {
    cursor: pointer;
    background-color: white;
}

.disclaimer-div {
    width: 100%;
    text-align: center;
}

.question-next{
    font-family: PantonW01-Light;
    font-size: 4.58vw;
    width: 22vw;
    border: 1px solid #4CADA6;
    float: right;
    text-align: center;
    padding: 1vw;
}

.question-next-a{
    padding: 1vw 2vw;
}

.test-bottles-many {
	display: block;
}

.next-button a, .next-button span, .next-button-disabled a, .next-button-disabled span {
        font-size: 4.58vw;
}

.result-advanced-social {
        padding-top: 3vw;
        width: 100%;
}

.result-advanced-social img{
    display: inline;
}

.gode-rad-button {
    margin-top: -19vw;
}

.comparison-div {
    margin-top: 10vw;
    float: left;
    width: 100%;
}

.question-title input {
    width: 100%;
    height: 10vw;
    font-size: 4vw;
    border: 2px solid #4cada6;
    border-radius: 4px;
    padding-left: 2vw;
}

textarea {
    height: 15vw;
    width: 78vw;
    margin-top: 2vw;
    border: 2px solid #69c2c3;
    border-radius: 0.5vw;
    padding-left: 2vw;
    font-size: 3.5vw;
}

@media only screen and (min-width: 768px) { 
    
    #test-container {
        margin-top: 6.84vw;
    }
    
    .form-general-row {
        margin-bottom: 6vw;
    }
    
    .form-general-row label {
        font-size: 1.76vw;
    }
    
    .form-general-row-radio {
        font-size: 1.46vw;
        padding-right: 3.18vw;
    }
    
    #gender-row {
        width: 26vw;
        padding-bottom: 6vw;
        margin-bottom: 0;
    }
    
    #female-test-img {
        width: 5.08vw;
    }
    
    #man-test-img {
        width: 5.18vw;
    }
    
    #female-test-img, #man-test-img {
        cursor: pointer;
    }
    
    #Test_age {
        font-size: 1.76vw;
        width: 2vw;
        margin-left: 0;
        margin-top: 4.84vw;
    }
    
    #age-row {
        width: 50vw;
        padding-left: 10vw;
        padding-bottom: 6vw;
        margin-bottom: 0;
    }
    
    #age-row label {
        margin-right: 30vw;
    }
    
    .form-general-row span {
        font-size: 1.46vw;
    }
    
    #test_rangeslider {
        margin-top: 3.32vw;
    }
    
    #test_rangeslider_number {
        width: 35.55vw; 
        margin-top: 1.5vw; 
        font-size: 1.76vw;
    }
    
    #vertical-border {
        width: 1vw; 
    }
    
    #horizontal-border {
        width: 100%; 
    }
    
    #vertical-border, #horizontal-border {
        float: left;
        display: block;
    }
    
    #school-row {
        margin-top: 6.48vw;
        padding-left: 25.6vw;
    }
    
    #Test_school {
        border: 0.2vw solid #69c2c3;
        -moz-border-radius: 0.5vw;
        -webkit-border-radius: 0.5vw;
        border-radius: 0.5vw;
        height: 3.13vw;
        width: 34.57vw;
        padding-left: 1vw;
        font-size: 1.46vw;
        margin-top: 4vw;
    }

    #test-school-img {
        width: 5.37vw;
        margin-left: -8.5vw;
        margin-top: -2.8vw;
    }
    
    #footer-test {
        display: block; 
    }
    
    #footer-test img {
        width: 100%;
        margin-top: -9vw;
        z-index: -1;
        position: relative;
    }
    
    .disclaimer {
        margin-top: 4vw; 
    }
    
    .disclaimer-div {
        width: inherit;
        text-align: right;
    }
    
    .number {
        display: none;
    }
    
    .number-img {
        display: block;
        width: 6.93vw;
        float: left;
        margin-right: 2vw;
    }
    
    .number-img img {
        width: 6.93vw;
    }
    
    .question-title {
        font-size: 2.05vw;
        width: 100%;
        margin-bottom: 2.59vw;
    }
    
    .question-title-text {
        margin-top: 2vw;
    }
    
    .form-row label {
        height: 5.5vw;
        padding-left: 7vw;
        padding-top: 1.7vw;
    }
    
    .form-row label:before {
        width: 5vw;
        height: 5vw;
    }
    
    .form-row {
        font-size: 1.76vw;
        margin-bottom: 1.5vw;
    }
    
    .form-column {
        padding-left: 6vw;
    }
    
    .form-column-half {
        width: 50%;
        float: left;
    }
    
    .slick-list {
        max-height: 53vw;
    }
    
    .question-next{
        font-size: 3vw;
        width: 13vw;
        padding: 0.5vw;
        margin-top: 8vw;
    }
    
    .question-next-a{
        padding: 0.5vw 1vw 0.5vw 1vw;
    }
	
    .test-bottles-many {
	display: none;
    }
	
    #genstand-logo {
	margin-bottom: 10vw;
    }
        
    .next-button a, .next-button span, .next-button-disabled a, .next-button-disabled span {
        font-size: 1.76vw;
    }
    
    .question-title input {
        width: 60%;
        height: 3.5vw;
        font-size: 2.05vw;
        padding-left: 0.7vw;
    }
    
    .result-advanced-social {
        float: left;
        padding-top: 2vw;
    }
    
    .gode-rad-button {
        margin: 4vw 26vw 2vw 26vw;
    }
    
    .comparison-div {
        margin: 2vw 0 0 0;
    }
    
    textarea {
        height: 8vw; 
        width: 27vw; 
        margin-left: 7vw; 
        border: 2px solid #69c2c3; 
        border-radius: 0.5vw;
        padding-left: 0.5vw;
        font-size: 1.5vw;
    } 
}


