* {
    box-sizing: border-box;
}
.slider {
    width: 80%;
    margin: 2vw auto;
    max-height: 130vw;
}
.slick-slide {
    margin: 0px 2vw;
}
.slick-dots li {
    margin: 0 0.04vw;
}
.slick-dots li.slick-active button:before {
    color: #f9f00a;
    font-size: 4vw;
}
.slick-dots li button:before {
    font-size: 2vw;
    color: #4cada6;
}
.slick-initialized .slick-slide {
    outline: none;
}

@media only screen and (min-width: 768px) {
    
    .slick-dots li button {
        width: 2vw;
        height: 2vw;
        padding: 1vw;
    }
    
    .slick-dots li button:before {
        font-size: 1vw;
    }
    
    .slick-dots li.slick-active button:before {
        font-size: 2vw;
    }
    
    .slick-list
    {
        max-height: 53vw;
    }
}