@font-face { 
    font-family: Nexa Light; 
    src: url('fonts/NexaLight.ttf');
}
@font-face { 
    font-family: Nexa Bold; 
    src: url('fonts/NexaBold.ttf');
}
@font-face { 
    font-family: Din Pro Regular; 
    src: url('fonts/DinProRegular.ttf');
}
@font-face { 
    font-family: Helvetica Neue LT Std; 
    src: url('fonts/HelveticaNeueLTStd.ttf');
}
@font-face { 
    font-family: Mari Bold; 
    src: url('fonts/MariBold.ttf');
}
@font-face { 
    font-family: Minio Pro Regular; 
    src: url('fonts/MinioProRegular.ttf');
}
html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -44px;
    padding: 10px 0 44px;
}

.wrap > .container {
    padding: 0px;
}

.footer {
    font-family: Nexa Light;
    height: 44px;
    background-color: #ffffff;
    border-top: 1px solid #ddd;
    padding-top: 2px;
}

.footer .pull-right {
    margin: 5px 20px 0 0;
}

.footer .pull-right img {
    margin-left: 5px;
}

.footer .pull-left, .footer .pull-left-back {
    margin: 5px 0 0 10px;
}

.footer .pull-left-back {
    float: left !important;
}

.footer .left-arrow, .footer .right-arrow {
    cursor: pointer;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

a {
    color: inherit;
    text-decoration: none;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.categories {
    font-family: Helvetica Neue LT Std;
    border-bottom: 3px solid #324553;
}

.category-title {
    font-size: 44px;
    color: #bcd0cb;
    line-height: 40px;
    text-align: right;
}

.category-title span {
    font-size: 30px;
}

.category-subtitle {
    font-size: 72px;
    color: #000;
    line-height: 68px;
}

.category-subtitle span {
    font-size: 56px;
    line-height: 56px;
}

.categories-container {
    font-family: Nexa Light;
    font-size: 18px;
    //padding: 30px 0 0 0;
    text-align: center;
}

.category-menu-item {
    padding: 20px 65px;
}

.category-menu-item-container {
    border-bottom: 4px solid #bcd1cc;
}

.category-menu-item-container img {
    height: 75px;
    margin: 20px 0;
}

.category-menu-text {
    margin-bottom: 10px;
}

.padding-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.slider .category-item {
    width: 100%;
    text-align: left;
    color: #000;
    font-size: 24px;
    margin-top: 30px;
}

.slider {
    font-family: Nexa Light;
}

.category-item ul li {
    margin-bottom: 20px;
}

.slide-title {
    font-family: Nexa Bold;
    font-size: 30px;
    color: #3a3734;
}

.slide-container {
    position: relative; 
    top: 0; 
    left: 0;
}

.slide-1-1 .slide-part-right img {
    width: 85%; 
    float: right;
}

.slide-1-2 .slide-title {
    margin-bottom: 15px;
    margin-top: 25px;
}

.slide-1-2 .slide-row-1 .slide-title {
    color: #8cc540;
}

#slide-1-2-toggler {
    cursor: pointer;
}

.toggle {
    position: absolute;
}

#temp-1-2 {
    display: none;
}

.slide-1-2 .slide-row-2 .slide-1-2-title {
    color: #2da9e1;
}

.slide-1-2 .slide-row-3 .slide-1-2-title {
    color: #e14b12;
}

.slide-1-2 .slide-row-1, .slide-1-2 .slide-row-2, .slide-1-2 .slide-row-3 {
    margin-top: 30px;
}

.slide-1-2 .slide-row-3 {
    display: none;
}

.slide-1-2-body {
    font-size: 26px;
    color: #3a3734;
}

.slide-1-2 img {
    width: 100%;
}

.slide-1-3 p {
    font-family: Nexa Bold;
    color: #000;
}

.slide-1-3 .slide-part-left, .slide-1-3 .slide-part-right {    
    text-align: center;
    padding-top: 20px;
}

.slide-1-3 .col-lg-2 {
    font-size: 18px;
    color: #bcd1cc;
    text-align: center;
}

.slide-1-3 img {
    width: 100%;
}

.slide-1-4 ul li span {
    font-family: Nexa Bold;
    color: #2da9e1;
}

.slide-1-4 .slide-part-right img, .slide-1-5 .slide-part-right img {
    width: 80%; 
}

.slide-1-6 .slide-part-right img:first-child {
    width: 70%; 
    float: left;
}

.slide-1-1 .slide-part-left, .slide-1-4 .slide-part-left, .slide-1-5 .slide-part-left, .slide-1-6 .slide-part-left {
    margin-top: 30px;
}

.slide-2-1{
    text-align: center;
}

.slide-2-1 img {
    width: 50%;
    margin: auto;
}

.slide-2-2 .slide-row-1 {
    font-size: 18px;
}

.slide-2-2 .slide-row-1 img {
    width: 15px; 
    float: left;
    margin-right: 10px;
    margin-top: 2px;
}

.slide-2-2-item {
    width: 168px;
    margin: auto;
}

.slide-2-2-item-title {
    font-size: 22px;
}

.slide-2-2-item img {
    width: 100%;
    margin-bottom: 5px;
}

.slide-2-2-item-risiko {
    font-family: Nexa Bold;
    font-size: 20px;
    color: #375963;
}

.slide-2-2 .slide-row-2 {
    padding: 20px 0 20px 0;
}

.slide-2-2 .slide-row-4 {
    padding: 20px 10% 20px 10%;
}

.slide-2-2 .slide-row-3 img {
    width: 100%;
}

.slide-2-3 {
    padding-top: 30px;
}

.slide-2-3 .slide-row-1 {
    font-size: 36px;
    text-align: center;
}

.slide-2-3 .slide-row-1 img {
    position: absolute;
    top: 10px;
    left: 15%;
    width: 120px;
}

.slide-2-3 .slide-row-1 span {
    font-family: Nexa Bold;
}

.slide-2-3 .slide-row-2 {
    font-size: 18px;
    text-align: center;
}

.slide-2-3 .slide-row-2 img {
    width: 100%;
    margin-bottom: 10px;
}

.slide-2-4 {
    font-family: Nexa Bold;
    font-size: 24px;
    color: #3a3734;
    text-align: center;
    padding-top: 50px;
}

.slide-2-4-item {
    text-align: center;
}    

.slide-2-4-item img {
    width: 183px;
    margin: 20px auto;
}

#slide-3-1 {
    margin-top: 0;
}

.slide-3-1 img, .slide-3-2 img, .slide-3-3 img, .slide-3-4 img, .slide-3-5 img {
    width: 85%;
    margin: auto;
}

.slide-3-3 .slide-row-1, .slide-3-4 .slide-row-1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.slide-4-1 .slide-row-1 {
    width: 60%;
    margin: auto;
    position: relative;
}

.slide-4-1 .slide-row-1 img {
    width: 100%;
}

.slide-4-1-item {
    position: absolute;
    font-family: Nexa Bold;
    font-size: 18px;
    color: #3a3734;
    width: 45%;
    cursor: pointer;
}

#left-top {
    top: 2%;
    left: 2%;
}

#right-top {
    top: 2%;
    left: 53%;
}

#left-bottom {
    top: 54%;
    left: 2%;
}

#right-bottom {
    top: 54%;
    left: 53%;
}

.slide-4-2 .slide-part-left, .slide-4-3 .slide-part-left {
    font-size: 24px;
}

.slide-4-2 .slide-part-left img, .slide-4-3 .slide-part-left img {
    width: 17%;
    margin-bottom: 20px;
}

.slide-4-2 .slide-part-right img {
    width: 40%;
}

.slide-4-2 ul li, .slide-4-3 ul li {
    margin-bottom: 30px;
}

.slide-4-3 .slide-part-right img {
    width: 80%;
}

.slide-4-4 .slide-row-1 img, .slide-4-5 .slide-row-1 img {
    width: 17%;
    margin-bottom: 10px;
}

.slide-4-4 .slide-row-2 img {
    width: 80%;
    margin: auto;
}

.slide-4-5 .slide-row-2 img {
    width: 90%;
    margin: auto;
}

.slide-4-6 .slide-part-left, .slide-4-7 .slide-part-left {
    font-size: 20px;
}

.slide-4-6 .slide-part-left img, .slide-4-7 .slide-part-left img {
    width: 22%;
    margin-bottom: 20px;
}

.slide-4-6 .slide-part-right img:first-child {
    width: 95%;
    margin-top: 30px;
}

.slide-4-6 ul li, .slide-4-7 ul li {
    margin-bottom: 20px;
}

.slide-4-6 ul li span, .slide-4-7 ul li span {
    font-family: Nexa Bold;
}

#popup-4-6 .modal-content, #popup-4-7 .modal-content {
    width: 70%;
}

#popup-4-6 .modal-body-left, #popup-4-6 .modal-body-right {
    width: 50%;
    float: left;
}

#popup-4-6 .modal-body-right img {
    width: 100%;
}

.slide-4-7 .slide-part-right img:first-child {
    width: 60%;
    margin-top: 30px;
    float: right;
}

.slide-4-8 img {
    width: 66%;
    margin: auto;
}

#slide-5-1 {
    margin-top: 0;
}

.slide-5-1 img {
    width: 55%;
    margin: auto;
}

.slide-5-2 .slide-part-left {
    padding-top: 60px;
}

.slide-5-2 .slide-part-left img {
    width: 95%;
    margin: auto;
}

.slide-5-2 .slide-part-right img {
    width: 100%;
    margin-top: 50px;
}

.slide-5-3 {
    color: #3a3734;
}

.slide-5-3 .slide-row-1 .slide-title {
    text-align: center;
}

.slide-5-3 .slide-row-2 {
    font-size: 24px;
    text-align: center;
}

.slide-5-3 .slide-row-3 {
    padding-top: 20px;
}

.slide-5-3 .slide-row-3 .slide-part-left {
    text-align: center;
    font-size: 24px;
    padding-top: 40px;
}

.slide-5-3 .slide-row-3 .slide-part-left img {
    margin: auto;
    width: 65%;
    margin-bottom: 10px;
}

.slide-5-3 .slide-row-3 .slide-part-right {
    font-size: 18px;
}

.slide-5-3 .slide-row-3 .slide-part-right img {
    width: 100%;
    margin-bottom: 20px;
}

.slide-6-1 .slide-row-1 {
    padding-top: 20px;
}

.slide-6-1 .slide-row-1 .slide-title {
    text-align: center;
    color: #3a3734;
}

.slide-6-1 .slide-row-2 {
    padding-top: 60px;
}

.slide-6-1 .slide-row-2 img {
    width: 70%;
    margin: auto;
}

.slide-6-2 .slide-6-2-title {
    font-family: Nexa Bold;
    font-size: 30px;
    color: #375963;
    margin-bottom: 10px;
}

.slide-6-2 .slide-6-2-title span {
    font-size: 48px;
}

.slide-6-2 .slide-6-2-body {
    font-size: 24px;
}

.slide-6-2 img {
    width: 70%;
}

.slide-6-3 img {
    width: 75%;
    margin: auto;
    margin-bottom: 10px;
}

.slide-6-3 .slide-row-1 {
    width: 75%;
    margin: auto;
}

.slide-6-3-item {
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
}

.slide-6-4 .slide-row-1 {
    font-family: Nexa Bold;
    font-size: 24px;
    margin-bottom: 20px;
}

.slide-6-4 .slide-row-2 img {
    width: 90%;
    margin: auto;
}

.slide-6-5 .slide-row-1 .slide-title {
    margin-bottom: 60px;
    text-align: center;
}

.slide-6-5 .slide-row-2 {
    font-size: 24px;
}

.slide-6-5 .slide-row-2 .slide-6-5-title {
    margin-bottom: 10px;
}

.slide-6-5-img {
    width: 100%;
}

.slide-6-5-img img {
    width: 100%;
}

#slide-6-5-img-2 {
    width: 140px;
    position: absolute;
    top: 10px;
    right: 120px;
}

#popup-6-5-help {
    top: 0;
}

.slide-6-6 {
    color: #3a3734;
    padding-top: 30px;
}

.slide-6-6 .slide-row-2 .slide-part-left {
    padding: 40px 60px 0 60px;
}

.slide-6-6 .slide-row-2 .slide-part-left img {
    width: 115px;
    position: absolute;
    right: 0;
    bottom: 100px;
}

.slide-6-6 .slide-row-2 {
    font-size: 21px;
    padding: 20px 20px 20px 0;
}

.slide-6-6 .slide-row-2 ul {
    margin-top: 30px;
}

.slide-6-6 .slide-row-2 .slide-part-right img {
    width: 65%;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.slide-6-6-text {
    position: relative;
    width: 400px;
}
.slide-6-7 .slide-row-1 {
    font-size: 30px;
    color: #3a3734;
    text-align: center;
    margin-bottom: 20px;
}

.slide-6-7 .slide-row-2 {
    margin-bottom: 20px;
}

.slide-6-7-item {
    width: 266px;
    margin: auto;
}

.slide-6-7-title {
    font-family: Nexa Bold;
    color: #bed1cc;
    font-size: 30px;
    text-align: center;
}

.slide-6-7-body {
    background-color: #bcd0cb;
    padding: 7px;
}

.slide-6-7-body img:first-child {
    width: 100%;
    margin-bottom: 5px;
}

.slide-6-7-body img {
    width: 65%;
    margin: auto;
}

.slide-6-7 .slide-row-3 {
    font-size: 18px;
    text-align: center;
}

.slide-6-8 .slide-row-1 {
    margin-bottom: 20px;
    color: #3a3734;
}

.slide-6-8 .slide-row-2 ul {
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

#gif-6-8 {
    width: 75%;
    margin: auto;
    margin-top: 20px;
}

#slide-6-8-browse {
    top: 0;
}

.slide-6-9 {
    font-size: 21px;
    padding-top: 40px;
}

.slide-6-9-img {
    text-align: center;
}

.slide-6-9-img img {
    width: 165px;
    margin: auto;
    margin-bottom: 10px;
}

.slide-6-9-item {
    float: left;
    width: 20%;
    text-align: center;
    font-size: 18px;
}

.slide-6-9-item img {
    width: 96px;
    margin: auto;
    margin-bottom: 10px;
}

.slide-6-9 .slide-row-2 {
    margin-bottom: 20px;
}

.slide-6-9 .slide-row-3 {
    margin-bottom: 30px;
}

.slide-6-9 .back-icon {
    top: -45px;
}

.slide-6-10 {
    font-size: 24px;
    color: #3a3734;
}

.slide-6-10-item {
    text-align: center;
    width: 25%;
    float: left;
}

.slide-6-10-item img {
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
}

.slide-6-10 .slide-row-1 {
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 30px;
}

#popup-6-10-help {
    top: -10px;
}

.slide-6-10 .slide-row-2 {
    margin-top: 50px;
}

.slide-6-10 .slide-row-1 .slide-6-10-item {
    margin-left: 3.5%;
    margin-right: 3.5%;
}

.slide-6-11-title {
    font-family: Nexa Bold;
    font-size: 36px;
}

.slide-6-11-body {
    font-size: 20px;
}

.slide-6-11-title, .slide-6-11-body {
    text-align: center;
}

.slide-6-11 .slide-part-left img {
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.slide-6-11 .slide-part-right {
    padding-top: 30px;
}

.slide-6-11-item {
    margin-bottom: 10px;
}

.slide-6-11-item .item-img {
    width: 20%;
    margin-bottom: 0;
    display: table-cell;
}
.slide-6-11-item .item-img img {
    width: 90%;
}

.slide-6-11-item .item-body {
    padding-top: 0;
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
}

.slide-6-11-item .item-body .item-title {
    font-family: Nexa Bold;
    font-size: 30px;
}

.slide-6-11-item .item-body .item-text {
    font-size: 20px;
}

#popup-6-11-help, #popup-6-12-help {
    right: 60px;
    top: -10px;
}

#slide-6-11-browse {
    top: -10px;
}

#slide-6-12-back {
    top: -10px;
}

.slide-6-12 .slide-part-left, .slide-6-12 .slide-part-right {
    padding-top: 60px;
}

.slide-6-12 .slide-part-left img, .slide-6-12 .slide-part-right img {
    width: 35%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.slide-6-12 .slide-part-left ul, .slide-6-12 .slide-part-right ul {
    width: 60%;
    margin: auto;
}

.slide-6-12 .slide-part-left ul li, .slide-6-12 .slide-part-right ul li {
    margin-bottom: 0;
    font-size: 20px;
}

.slide-6-12-title {
    font-family: Nexa Bold;
    font-size: 24px;
    text-align: center;
}

.slide-6-13 .slide-container {
    padding-top: 50px;
}

.slide-6-13 img {
    width: 100%;
}

.slide-6-13 .slide-part-right {
    padding-top: 30px;
}

.slide-6-14 .slide-container img:first-child {
    width: 70%;
    margin: auto;
}

#popup-6-14-help {
    top: -10px;
}

.slide-6-15 .slide-row-1 {
    padding-top: 40px;
}

.slide-6-15 .slide-row-1 img {
    width: 70%;
    margin: auto;
}

.slide-6-15 .slide-row-2 {
    padding-top: 30px;
}

.slide-6-15 .slide-row-2 ul li {
    margin-bottom: 0px;
}

.slide-6-15 .slide-row-2 .slide-part-right {
    text-align: center;
}

#popup-6-15-help {
    top: -12px;
}

#popup-6-15 .modal-body .popup-info-title {
    font-size: 20px;
    padding-bottom: 15px;
    padding-left: 15px;
}

#popup-6-15 ul li {
    margin-bottom: 0;
}

.slide-6-16 .slide-container {
    float: left;
}

.slide-6-16 .slide-row-1 .slide-title {
    font-family: Nexa Light;
    font-size: 24px;
}

.slide-6-16 .slide-row-2 {
    padding-top: 30px;
}

.slide-6-16-item {
    margin-bottom: 10px;
}

.slide-6-16 .item-img {
    width: 80px;
    display: table-cell;
    margin-right: 10px;
}

.slide-6-16 .item-img img {
    width: 65px;
}

.slide-6-16 .item-body {
    display: table-cell;
    vertical-align: middle;
}

#slide-6-16-browse {
    top: -10px;
}

#slide-6-16-9 {
    width: 230px;
    position: absolute;
    bottom: 0;
    left: 35%;
}

.slide-6-17 .item-body {
    font-size: 24px;
}

.slide-6-17 .item-title {
    font-family: Nexa Bold;
    margin-bottom: 20px;
}

.slide-6-17 .item-img img {
    width: 100%;
}

#slide-6-17-back {
    top: -10px;
}

.back {
    width: 60px;
    position: absolute;
    left: -10px;
    bottom: 120px;
    cursor: pointer;
    display: none;
}

.popup-close {
    cursor: pointer;
}

.popup-help-icon, .popup-info-icon, .browse-icon, .back-icon {
    width: 54px; 
    position: absolute;
    top: 15px;
    right: 0;
    cursor: pointer;
}