@font-face { 
    font-family: Nexa Light; 
    src: url('fonts/NexaLight.ttf');
}
@font-face { 
    font-family: Nexa Bold; 
    src: url('fonts/NexaBold.ttf');
}
@font-face { 
    font-family: Din Pro Regular; 
    src: url('fonts/DinProRegular.ttf');
}
@font-face { 
    font-family: Helvetica Neue LT Std; 
    src: url('fonts/HelveticaNeueLTStd.ttf');
}
@font-face { 
    font-family: Mari Bold; 
    src: url('fonts/MariBold.ttf');
}
@font-face { 
    font-family: Minio Pro Regular; 
    src: url('fonts/MinioProRegular.ttf');
}
html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -44px;
    padding: 20px 0 44px;
}

.wrap > .container {
    padding: 0px;
}

.footer {
    font-family: Nexa Light;
    height: 44px;
    background-color: #ffffff;
    border-top: 1px solid #ddd;
    padding-top: 2px;
}

.footer .pull-right {
    margin: 5px 20px 0 0;
}

.footer .pull-right img {
    margin-left: 5px;
}

.footer .pull-left {
    margin: 5px 0 0 10px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

a {
    color: inherit;
    text-decoration: none;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.categories {
    font-family: Helvetica Neue LT Std;
    border-bottom: 3px solid #324553;
}

.category-title {
    font-size: 44px;
    color: #bcd0cb;
    line-height: 40px;
    text-align: right;
}

.category-title span {
    font-size: 30px;
}

.category-subtitle {
    font-size: 72px;
    color: #000;
    line-height: 68px;
}

.categories-container {
    font-family: Nexa Light;
    font-size: 18px;
    padding: 30px 0 0 0;
    text-align: center;
}

.category-menu-item {
    padding: 20px 65px;
}

.category-menu-item-container {
    border-bottom: 4px solid #bcd1cc;
}

.category-menu-item-container img {
    height: 75px;
    margin: 20px 0;
}

.category-menu-text {
    margin-bottom: 10px;
}

.padding-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.slider .category-item {
    width: 100%;
    text-align: left;
    color: #000;
    font-size: 24px;
}

.slider {
    font-family: Nexa Light;
}

.category-item ul li {
    margin-bottom: 20px;
}