@font-face { 
    font-family: Nexa Light; 
    src: url('fonts/NexaLight.ttf'), url('fonts/NexaLight.eot'), url('fonts/NexaLight.eot?#iefix') format('embedded-opentype');
}
@font-face { 
    font-family: Nexa Bold; 
    src: url('fonts/NexaBold.ttf'), url('fonts/NexaBold.eot'), url('fonts/NexaBold.eot?#iefix') format('embedded-opentype');
}
@font-face { 
    font-family: Din Pro Regular; 
    src: url('fonts/DinProRegular.ttf'), url('fonts/DinProRegular.eot'), url('fonts/DinProRegular.eot?#iefix') format('embedded-opentype');
}
@font-face { 
    font-family: Helvetica Neue LT Std; 
    src: url('fonts/HelveticaNeueLTStd.ttf'), url('fonts/HelveticaNeueLTStd.eot'), url('fonts/HelveticaNeueLTStd.eot?#iefix') format('embedded-opentype');
}
@font-face { 
    font-family: Mari Bold; 
    src: url('fonts/MariBold.ttf'), url('fonts/MariBold.eot'), url('fonts/MariBold.eot?#iefix') format('embedded-opentype');
}
@font-face { 
    font-family: Minio Pro Regular; 
    src: url('fonts/MinioProRegular.ttf'), url('fonts/MinioProRegular.eot'), url('fonts/MinioProRegular.eot?#iefix') format('embedded-opentype');
}
html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -44px;
    padding: 20px 0 44px;
}

.wrap > .container {
    padding: 0px;
}

.footer {
    font-family: Nexa Light;
    height: 44px;
    background-color: #ffffff;
    border-top: 1px solid #ddd;
    padding-top: 2px;
}

.footer .pull-right {
    margin: 5px 20px 0 0;
}

.footer-1 .pull-right img {
    height: 40px;
}

.footer-2 .pull-right img, .footer-2 .pull-left img, .footer-1 .pull-left img {
    height: 30px;
}

.footer .pull-right img {
    margin-left: 5px;
}

.footer .pull-left, .footer .pull-left-back {
    margin: 5px 0 0 10px;
}

.footer .pull-left-back {
    float: left !important;
}

.footer .left-arrow, .footer .right-arrow {
    cursor: pointer;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.site-login {
    width: 30%;
    margin: auto;
    font-family: Nexa Light;
    font-size: 18px;
    color: #3a3734;
}

.site-login-ms {
    width: 100%;
    font-family: Nexa Bold;
    font-size: 203px;
    color: #375963;
}

.site-login-dialog {
    width: 100%;
    font-family: Nexa Light;
    font-size: 50px;
    color: #375963;
}

.site-login-ms-dialog {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.form-control {
    font-size: 18px;
    height: 43px;
}

.login-button {
    width: 100%;
    background-color: #8cc540;
    border-color: #8cc540;
    font-size: 18px;
}

.has-error .help-block {
    color: #e14b12;
    font-family: Nexa Bold;
    font-size: 18px;
}

.login-key {
    width: 56px;
    position: absolute;
    left: 25px;
    top: 4px;
}

.title-update-data {
    font-size: 72px;
    font-family: Helvetica Neue LT Std;
    color: #bcd0cb;
    text-align: center;
}

#update-form {
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

#update-form .form-group {
    height: 80px;
}

#update-form label {
    font-family: Mari Bold;
    font-size: 20px;
}

#update-form input {
    color: #bcd0cb;
}

#update-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #bcd0cb;
}

#update-form input::-moz-placeholder { /* Firefox 19+ */
  color: #bcd0cb;
}

#update-form input:-ms-input-placeholder { /* IE 10+ */
  color: #bcd0cb;
}
#update-form input:-moz-placeholder { /* Firefox 18- */
  color: #bcd0cb;
}

.update-button {
    width: 175px;
    height: 45px;
    background-color: #8cc540;
    border-color: #8cc540;
    font-size: 18px;
    float: right;
}

.update-footer {
    float: right;
    margin-top: 40px;
    font-family: Nexa Light;
    font-size: 16px;
    color: #878786;
}

.not-set {
    color: #c55;
    font-style: italic;
}

a {
    color: inherit;
    text-decoration: none;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.categories {
    font-family: Helvetica Neue LT Std;
    border-bottom: 3px solid #324553;
}

.category-title {
    font-size: 40px;
    color: #bcd0cb;
    line-height: 37px;
    text-align: right;
}

.category-title span {
    font-size: 30px;
}

.category-subtitle {
    font-size: 65px;
    color: #000;
    line-height: 63px;
}

.category-subtitle span {
    font-size: 56px;
    line-height: 56px;
}

.categories-container {
    font-family: Nexa Light;
    font-size: 18px;
    text-align: center;
}

.category-menu-item {
    padding: 20px 65px;
}

.category-menu-item-container {
    border-bottom: 4px solid #bcd1cc;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
}

.category-menu-item-container img {
    height: 75px;
    margin: 20px 0;
    display: inline;
}

.category-menu-text {
    margin-bottom: 10px;
}

.padding-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.slider .category-item {
    width: 100%;
    text-align: left;
    color: #000;
    font-size: 24px;
    margin-top: 30px;
}

.slider {
    font-family: Nexa Light;
}

.category-item ul li {
    margin-bottom: 20px;
}

.slide-title {
    font-family: Nexa Bold;
    font-size: 27px;
    color: #3a3734;
}

.slide-container {
    position: relative; 
    top: 0; 
    left: 0;
    float: left;
}

.slide-1-1 .slide-part-right img {
    width: 85%; 
    float: right;
}

.slide-1-2 .slide-title {
    margin-bottom: 15px;
    margin-top: 22px;
}

.slide-1-2 .slide-row-1 .slide-title {
    color: #8cc540;
}

#slide-1-2-toggler {
    cursor: pointer;
}

.toggle {
    position: absolute;
}

#temp-1-2 {
    display: none;
}

.slide-1-2 .slide-row-2 .slide-1-2-title {
    color: #2da9e1;
}

.slide-1-2 .slide-row-3 .slide-1-2-title {
    color: #e14b12;
}

.slide-1-2 .slide-row-1, .slide-1-2 .slide-row-2, .slide-1-2 .slide-row-3 {
    margin-top: 30px;
}

.slide-1-2 .slide-row-3 {
    display: none;
}

.slide-1-2-body {
    font-size: 22px;
    color: #3a3734;
}

.slide-1-2 img {
    width: 100%;
}

.slide-1-3 p {
    font-family: Nexa Bold;
    color: #000;
}

.slide-1-3 .slide-part-left, .slide-1-3 .slide-part-right {    
    text-align: center;
    padding-top: 20px;
}

.slide-1-3 .col-lg-2 {
    font-size: 18px;
    color: #bcd1cc;
    text-align: center;
}

.slide-1-3 img {
    width: 100%;
}

.slide-1-4 ul li span {
    font-family: Nexa Bold;
    color: #2da9e1;
}

.slide-1-4 .slide-part-right img, .slide-1-5 .slide-part-right img {
    width: 80%; 
}

.slide-1-6 .slide-container {
    width: 100%;
}

.slide-1-6 .slide-row-1 {
    
}

.slide-1-6 .slide-row-1 .slide-part-right img:first-child {
    width: 65%; 
    float: left;
}


.slide-1-1 .slide-part-left, .slide-1-4 .slide-part-left, .slide-1-5 .slide-part-left, .slide-1-6 .slide-part-left {
    margin-top: 30px;
}

.slide-2-1{
    text-align: center;
}

.slide-2-1 img {
    width: 50%;
    margin: auto;
}

.slide-2-2 .slide-row-1 {
    font-size: 18px;
}

.slide-2-2 .slide-row-1 img {
    width: 15px; 
    float: left;
    margin-right: 10px;
    margin-top: 2px;
}

.slide-2-2-item {
    width: 168px;
    margin: auto;
}

.slide-2-2-item-title {
    font-size: 22px;
}

.slide-2-2-item img {
    width: 100%;
    margin-bottom: 5px;
}

.slide-2-2-item-risiko {
    font-family: Nexa Bold;
    font-size: 20px;
    color: #375963;
}

.slide-2-2 .slide-row-2 {
    padding: 20px 0 20px 0;
}

.slide-2-2 .slide-row-4 {
    padding: 20px 10% 20px 10%;
}

.slide-2-2 .slide-row-3 img {
    width: 100%;
}

.slide-2-3 {
    padding-top: 30px;
}

.slide-2-3 .slide-row-1 {
    font-size: 36px;
    text-align: center;
}

.slide-2-3 .slide-row-1 img {
    position: absolute;
    top: 10px;
    left: 15%;
    width: 10%;
}

.slide-2-3 .slide-row-1 span {
    font-family: Nexa Bold;
}

.slide-2-3 .slide-row-2 {
    font-size: 18px;
    text-align: center;
}

.slide-2-3 .slide-row-2 img {
    width: 100%;
    margin-bottom: 10px;
}

.slide-2-4 {
    font-family: Nexa Bold;
    font-size: 24px;
    color: #3a3734;
    text-align: center;
    padding-top: 50px;
}

.slide-2-4-item {
    text-align: center;
}    

.slide-2-4-item img {
    width: 183px;
    margin: 20px auto;
}

#slide-3-1 {
    margin-top: 0;
}

.slide-3-1 img, .slide-3-2 img, .slide-3-3 img, .slide-3-4 img, .slide-3-5 img {
    width: 85%;
    margin: auto;
}

.slide-3-3 .slide-row-1, .slide-3-4 .slide-row-1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.slide-4-1 .slide-row-1 {
    width: 60%;
    margin: auto;
    position: relative;
}

.slide-4-1 .slide-row-1 img {
    width: 100%;
}

.slide-4-1-item {
    position: absolute;
    font-family: Nexa Bold;
    font-size: 18px;
    color: #3a3734;
    width: 45%;
    cursor: pointer;
}

#left-top {
    top: 2%;
    left: 2%;
}

#right-top {
    top: 2%;
    left: 53%;
}

#left-bottom {
    top: 54%;
    left: 2%;
}

#right-bottom {
    top: 54%;
    left: 53%;
}

.slide-4-2 .slide-part-left, .slide-4-3 .slide-part-left {
    font-size: 24px;
}

.slide-4-2 .slide-part-left img, .slide-4-3 .slide-part-left img {
    width: 17%;
    margin-bottom: 20px;
}

.slide-4-2 .slide-part-right img {
    width: 40%;
}

.slide-4-2 ul li, .slide-4-3 ul li {
    margin-bottom: 30px;
}

.slide-4-3 .slide-part-right img {
    width: 80%;
}

.slide-4-4 .slide-row-1 img, .slide-4-5 .slide-row-1 img {
    width: 17%;
    margin-bottom: 10px;
}

.slide-4-4 .slide-row-2 img {
    width: 80%;
    margin: auto;
}

.slide-4-5 .slide-row-2 img {
    width: 90%;
    margin: auto;
}

.slide-4-6 .slide-part-left, .slide-4-7 .slide-part-left {
    font-size: 20px;
}

.slide-4-6 .slide-part-left img, .slide-4-7 .slide-part-left img {
    width: 22%;
    margin-bottom: 20px;
}

.slide-4-6 .slide-part-right img:first-child {
    width: 95%;
    margin-top: 30px;
}

.slide-4-6 ul li, .slide-4-7 ul li {
    margin-bottom: 20px;
}

.slide-4-6 ul li span, .slide-4-7 ul li span {
    font-family: Nexa Bold;
}

#popup-4-6 .modal-content {
    width: 70%;
}

#popup-4-6 .modal-content .popup-info-title, #popup-4-7 .modal-content .popup-info-title {
    text-align: center;
    font-size: 26px;
}

#popup-4-6 .modal-body-left, #popup-4-6 .modal-body-right {
    width: 50%;
    float: left;
}

#popup-4-6 .modal-body-left {
    padding-top: 70px;
    font-size: 22px;
}

#popup-4-6 .modal-body-right img {
    width: 80%;
    margin-bottom: 20px;
}

.slide-4-7 .slide-part-right img:first-child {
    width: 75%;
    margin-top: 30px;
    float: right;
}

#popup-4-7-info {
    top: 0px;
}

#popup-4-7 .modal-body {
    padding-top: 50px;
}

#popup-4-7 .modal-body img {
    width: 100%;
    padding-bottom: 10px;
}

#popup-4-7 .modal-content {
    width: 62%;
}

.slide-4-8 img {
    width: 66%;
    margin: auto;
}

#slide-5-1 {
    margin-top: 0;
}

.slide-5-1 img {
    width: 55%;
    margin: auto;
}

.slide-5-2 .slide-part-left {
    padding-top: 60px;
}

.slide-5-2 .slide-part-left img {
    width: 95%;
    margin: auto;
}

.slide-5-2 .slide-part-right img {
    width: 100%;
    margin-top: 50px;
}

.slide-5-3 {
    color: #3a3734;
}

.slide-5-3 .slide-row-1 .slide-title {
    text-align: center;
}

.slide-5-3 .slide-row-2 {
    font-size: 24px;
    text-align: center;
}

.slide-5-3 .slide-row-3 {
    padding-top: 20px;
}

.slide-5-3 .slide-row-3 .slide-part-left {
    text-align: center;
    font-size: 24px;
    padding-top: 40px;
}

.slide-5-3 .slide-row-3 .slide-part-left img {
    margin: auto;
    width: 65%;
    margin-bottom: 10px;
}

.slide-5-3 .slide-row-3 .slide-part-right {
    font-size: 18px;
}

.slide-5-3 .slide-row-3 .slide-part-right img {
    width: 100%;
    margin-bottom: 20px;
}

.slide-6-1 .slide-row-1 {
    padding-top: 20px;
}

.slide-6-1 .slide-row-1 .slide-title {
    text-align: center;
    color: #3a3734;
}

.slide-6-1 .slide-row-2 {
    padding-top: 60px;
}

.slide-6-1 .slide-row-2 img {
    width: 70%;
    margin: auto;
}

.slide-6-2 .slide-6-2-title {
    font-family: Nexa Bold;
    font-size: 30px;
    color: #375963;
    margin-bottom: 10px;
}

.slide-6-2 .slide-6-2-title span {
    font-size: 48px;
}

.slide-6-2 .slide-6-2-body {
    font-size: 24px;
}

.slide-6-2 img {
    width: 70%;
}

.slide-6-3 img {
    width: 75%;
    margin: auto;
    margin-bottom: 10px;
}

.slide-6-3 .slide-row-1 {
    width: 75%;
    margin: auto;
}

.slide-6-3-item {
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
}

.slide-6-4 .slide-row-1 {
    font-family: Nexa Bold;
    font-size: 24px;
    margin-bottom: 20px;
}

.slide-6-4 .slide-row-2 img {
    width: 90%;
    margin: auto;
}

#popup-6-4-help {
    top: 0;
}

.slide-6-5 .slide-row-1 .slide-title {
    margin-bottom: 60px;
    text-align: center;
}

.slide-6-5 .slide-row-2 {
    font-size: 24px;
}

.slide-6-5 .slide-row-2 .slide-6-5-title {
    margin-bottom: 10px;
}

.slide-6-5-img {
    width: 100%;
}

.slide-6-5-img img {
    width: 100%;
}

#slide-6-5-img-2 {
    width: 140px;
    position: absolute;
    top: 10px;
    right: 120px;
}

#popup-6-5-help {
    top: 0;
}

.slide-6-6 {
    color: #3a3734;
    padding-top: 30px;
}

.slide-6-6 .slide-row-2 .slide-part-left {
    padding: 40px 60px 0 60px;
}

.slide-6-6 .slide-row-2 .slide-part-left img {
    width: 115px;
    position: absolute;
    right: 0;
    bottom: 100px;
}

.slide-6-6 .slide-row-2 {
    font-size: 21px;
    padding: 20px 20px 20px 0;
}

.slide-6-6 .slide-row-2 ul {
    margin-top: 30px;
}

.slide-6-6 .slide-row-2 .slide-part-right img {
    width: 65%;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.slide-6-6-text {
    position: relative;
    width: 400px;
}
.slide-6-7 .slide-row-1 {
    font-size: 30px;
    color: #3a3734;
    text-align: center;
    margin-bottom: 20px;
}

.slide-6-7 .slide-row-2 {
    margin-bottom: 20px;
}

.slide-6-7-item {
    width: 266px;
    margin: auto;
}

.slide-6-7-title {
    font-family: Nexa Bold;
    color: #bed1cc;
    font-size: 30px;
    text-align: center;
}

.slide-6-7-body {
    background-color: #bcd0cb;
    padding: 7px;
}

.slide-6-7-body img:first-child {
    width: 100%;
    margin-bottom: 5px;
}

.slide-6-7-body img {
    width: 65%;
    margin: auto;
}

.slide-6-7 .slide-row-3 {
    font-size: 18px;
    text-align: center;
}

.slide-6-8 .slide-row-1 {
    margin-bottom: 20px;
    color: #3a3734;
}

.slide-6-8 .slide-row-2 ul {
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

#gif-6-8 {
    width: 75%;
    margin: auto;
    margin-top: 20px;
}

#slide-6-8-browse {
    top: 0;
}

.slide-6-9 {
    font-size: 21px;
    padding-top: 40px;
}

.slide-6-9-img {
    text-align: center;
}

.slide-6-9-img img {
    width: 165px;
    margin: auto;
    margin-bottom: 10px;
}

.slide-6-9-item {
    float: left;
    width: 20%;
    text-align: center;
    font-size: 18px;
}

.slide-6-9-item img {
    width: 96px;
    margin: auto;
    margin-bottom: 10px;
}

.slide-6-9 .slide-row-2 {
    margin-bottom: 20px;
}

.slide-6-9 .slide-row-3 {
    margin-bottom: 30px;
}

.slide-6-9 .back-icon {
    top: -45px;
}

.slide-6-10 {
    font-size: 24px;
    color: #3a3734;
}

.slide-6-10-item {
    text-align: center;
    width: 25%;
    float: left;
}

.slide-6-10-item img {
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
}

.slide-6-10 .slide-row-1 {
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 30px;
}

#popup-6-10-help {
    top: 0px;
}

.slide-6-10 .slide-row-2 {
    margin-top: 50px;
}

.slide-6-10 .slide-row-1 .slide-6-10-item {
    margin-left: 3.5%;
    margin-right: 3.5%;
}

.slide-6-11-title {
    font-family: Nexa Bold;
    font-size: 36px;
}

.slide-6-11-body {
    font-size: 20px;
}

.slide-6-11-title, .slide-6-11-body {
    text-align: center;
}

.slide-6-11 .slide-part-left img {
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.slide-6-11 .slide-part-right {
    padding-top: 30px;
}

.slide-6-11-item {
    margin-bottom: 10px;
}

.slide-6-11-item .item-img {
    width: 20%;
    margin-bottom: 0;
    display: table-cell;
}
.slide-6-11-item .item-img img {
    width: 90%;
}

.slide-6-11-item .item-body {
    padding-top: 0;
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
}

.slide-6-11-item .item-body .item-title {
    font-family: Nexa Bold;
    font-size: 30px;
}

.slide-6-11-item .item-body .item-text {
    font-size: 20px;
}

#popup-6-11 .modal-content .modal-body, #popup-6-12 .modal-content .modal-body {
    padding-bottom: 0px !important;
}

#popup-6-11-help, #popup-6-12-help {
    right: 60px;
    top: -10px;
}

#slide-6-11-browse {
    top: -10px;
}

#slide-6-12-back {
    top: -10px;
}

.slide-6-12 .slide-part-left, .slide-6-12 .slide-part-right {
    padding-top: 60px;
}

.slide-6-12 .slide-part-left img, .slide-6-12 .slide-part-right img {
    width: 45%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.slide-6-12 .slide-part-left ul, .slide-6-12 .slide-part-right ul {
    width: 60%;
    margin: auto;
}

.slide-6-12 .slide-part-left ul li, .slide-6-12 .slide-part-right ul li {
    margin-bottom: 0;
    font-size: 20px;
}

.slide-6-12-title {
    font-family: Nexa Bold;
    font-size: 24px;
    text-align: center;
}

.slide-6-13 .slide-container {
    padding-top: 50px;
}

.slide-6-13 img {
    width: 100%;
}

.slide-6-13 .slide-part-right {
    padding-top: 30px;
}

.slide-6-14 .slide-container .first {
    width: 75%;
    margin: auto;
}

#popup-6-14-help {
    top: -10px;
}

    #popup-6-14 ul li {
        margin-bottom: 12px !important;
    }

.slide-6-15 .slide-container {
    float: left;
}

.slide-6-15 .slide-row-1 {
    padding-top: 40px;
}

.slide-6-15 .slide-row-1 img {
    width: 70%;
    margin: auto;
}

.slide-6-15 .slide-row-2 {
    padding-top: 30px;
}

.slide-6-15 .slide-row-2 ul li {
    margin-bottom: 0px;
}

#popup-6-15-help {
    top: -12px;
}

    #popup-6-15 .modal-body {
        padding-bottom: 18px !important;
    }

#popup-6-15 .modal-body .popup-info-title {
    font-size: 20px;
    padding-bottom: 15px;
    padding-left: 15px;
}

#popup-6-15 ul li {
    margin-bottom: 0;
}

.slide-6-16 .slide-container {
    float: left;
}

.slide-6-16 .slide-row-1 .slide-title {
    font-family: Nexa Light;
    font-size: 24px;
}

.slide-6-16 .slide-row-2 {
    padding-top: 30px;
}

.slide-6-16-item {
    margin-bottom: 10px;
}

.slide-6-16 .item-img {
    width: 80px;
    display: table-cell;
    margin-right: 10px;
}

.slide-6-16 .item-img img {
    width: 65px;
}

.slide-6-16 .item-body {
    display: table-cell;
    vertical-align: middle;
}

#slide-6-16-browse {
    top: -10px;
}

#slide-6-16-9 {
    width: 230px;
    position: absolute;
    bottom: 0;
    left: 35%;
}

.slide-6-17 .item-body {
    font-size: 24px;
}

.slide-6-17 .item-title {
    font-family: Nexa Bold;
    margin-bottom: 20px;
}

.slide-6-17 .item-img img {
    width: 100%;
}

#slide-6-17-back {
    top: -10px;
}

.slide-7-1 img {
    width: 65%;
    margin: auto;
}

.slide-7-2 .title {
    text-align: center;
    margin-bottom: 15px;
}

.slide-7-2 img {
    width: 90%;
    margin: auto;
}

.slide-8-1 {
    color: #3a3734;
}

.slide-8-1 .slide-row-1 {
    font-size: 30px;
    margin-left: 25%;
    margin-top: 40px;
}

.slide-8-1 .slide-row-2 {
    font-size: 24px;
    margin-left: 25%;
}

.slide-8-1 .slide-row-2 img {
    width: 33px;
    float: left;
    margin-right: 10px;
}

.slide-8-1 .slide-row-3 {
    margin-top: 80px;
}

.slide-8-1-item {
    width: 33%;
    text-align: center;
    font-family: Nexa Bold;
    font-size: 24px;
    float: left;
}

.slide-8-1-item img {
    width: 60%;
    margin: auto;
    margin-bottom: 30px;
}

.slide-8-2 {
    color: #3a3734;
}

.slide-8-2 .slide-row-1 {
    font-size: 24px;
}

.slide-8-2 .slide-row-2 img {
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.slide-9-1 {
    
}

.slide-9-1 .slide-row-1 {
    margin-top: 50px;
    padding-left: 100px;
}

.slide-9-1-item {
    font-size: 24px;
    width: 100%;
    float: left;
    margin-bottom: 40px;
}

.slide-9-1-item img {
    width: 100px;
    float: left;
}

.slide-9-1-item ul {
    float: left;
}

.slide-9-1-item ul li {
    font-size: 24px;
}

#baby-stroller {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 25%;
}

.back {
    width: 60px;
    position: absolute;
    left: -10px;
    bottom: 120px;
    cursor: pointer;
    display: none;
}

#menu {
    padding-right: 30px;
    height: 125px;
    background-color: #bad0cc;
    border-radius: 5px;
    position: absolute;
    right: 0;
    bottom: 120px;
    display: none;
}

.menu {
    
}

.menu-text {
    height: 125px;
    width: 43px;
    position: absolute;
    right: 0px;
    bottom: 120px;
    background-color: #bad0cc;
    border-radius: 5px;
    cursor: pointer;
}

.menu-text img {
    width: 100%;
}

.menu-item {
    float: left;
    margin: 30px 15px 10px 15px;
    font-family: Nexa Bold;
    color: #fff;
    font-size: 12px;
    text-align: center;
}

.menu-item-img {
    height: 60px;
    margin-bottom: 9px;
}

.menu-item-1 {
    width: 80px;
}

.menu-item-1 img {
    width: 53px;
    margin: auto;
}

.menu-item-2 {
    width: 80px;
}

.menu-item-2 img {
    width: 56px;
    margin: auto;
    margin-bottom: 9px;
}

.menu-item-3 {
    width: 75px;
}

.menu-item-3 img {
    width: 52px;
    margin: auto;
    margin-bottom: 9px;
}

.menu-item-4 {
    width: 90px;
}

.menu-item-4 img {
    width: 88px;
    margin: auto;
    margin-bottom: 9px;
}

.menu-item-5 {
    width: 80px;
}

.menu-item-5 img {
    width: 57px;
    margin: auto;
    margin-bottom: 9px;
}

.menu-item-6 {
    width: 80px;
}

.menu-item-6 img {
    width: 51px;
    margin: auto;
    margin-bottom: 9px;
}

.menu-item-7 {
    width: 80px;
}

.menu-item-7 img {
    width: 56px;
    margin: auto;
    margin-bottom: 9px;
}

.menu-item-8 {
    width: 80px;
}

.menu-item-8 img {
    width: 56px;
    margin: auto;
    margin-bottom: 9px;
}

.popup-close {
    cursor: pointer;
}

.popup-help-icon, .popup-info-icon, .browse-icon, .back-icon {
    width: 54px; 
    position: absolute;
    top: 15px;
    right: 0;
    cursor: pointer;
}

#popup-home {
    position: fixed !important;
    top: 0;
    left: 0;
    padding-top: 100px;
}

#popup-home .modal-content {
    position: relative !important;
    width: 480px;
    margin: auto;
}

#popup-home .modal-body {
    font-family: Nexa Light;
    font-size: 26px;
    padding: 20px 40px 40px 40px !important;
}

#popup-home .modal-body img {
    width: 164px;
}

#popup-home .modal-body p {
    margin-bottom: 40px;
}

#popup-home .modal-body .popup-home-yes-no {
    width: 100%;
}

#popup-home .modal-body .popup-home-yes {
    float: right;
}

@media screen and (max-width: 1200px) {
    .wrap {
        margin: 0 auto -24px;
        padding: 10px 0 24px;
    }

    .footer .pull-right {
        margin: 5px 10px 0 0;
    }

    .site-login {
        width: 30%;
        font-size: 14px;
    }
    
    .title-update-data {
        font-size: 65px;
    }

    #update-form {
        margin-top: 42px;
    }

    .categories {
        border-bottom: 2px solid #324553;
    }

    .category-title {
        font-size: 36px;
        line-height: 30px;
    }

    .category-title span {
        font-size: 28px;
    }

    .category-subtitle {
        font-size: 50px;
        line-height: 48px;
    }

    .category-subtitle span {
        font-size: 46px;
        line-height: 46px;
    }

    .categories-container {
        font-size: 14px;
    }

    .category-menu-item {
        padding: 10px 32px;
    }

    .slider .category-item {
        font-size: 22px;
        margin-top: 27px;
    }

    .category-item ul li {
        margin-bottom: 10px;
    }

    .slide-title {
        font-size: 26px;
    }

    .slide-1-2 .slide-title {
        margin-bottom: 10px;
        margin-top: 16px;
    }

    .slide-1-2 .slide-row-1, .slide-1-2 .slide-row-2, .slide-1-2 .slide-row-3 {
        margin-top: 27px;
    }

    .slide-1-2-body {
        font-size: 23px;
    }

    .slide-1-3 .slide-part-left, .slide-1-3 .slide-part-right {    
        padding-top: 17px;
    }

    .slide-1-3 .col-lg-2 {
        font-size: 16px;
    }

    .slide-1-1 .slide-part-left, .slide-1-4 .slide-part-left, .slide-1-5 .slide-part-left, .slide-1-6 .slide-part-left {
        margin-top: 27px;
    }

    .slide-2-2-item {
        width: 158px;
    }

    .slide-2-2-item-title {
        font-size: 20px;
    }

    .slide-2-2-item-risiko {
        font-size: 18px;
    }

    .slide-2-3 {
        padding-top: 27px;
    }

    .slide-2-3 .slide-row-1 {
        font-size: 32px;
    }

    .slide-2-3 .slide-row-2 {
        font-size: 16px;
    }

    .slide-3-3 .slide-row-1, .slide-3-4 .slide-row-1 {
        font-size: 22px;
    }

    .slide-4-1-item {
        font-size: 16px;
    }

    .slide-4-2 .slide-part-left, .slide-4-3 .slide-part-left {
        font-size: 22px;
    }

    .slide-4-6 .slide-part-right img:first-child {
        margin-bottom: 40px;
    }

    #popup-4-6 .modal-body-left {
        padding-top: 50px;
    }

    .slide-4-7 .slide-part-right img:first-child {
        margin-top: 27px;
    }

    .slide-5-2 .slide-part-left {
        padding-top: 55px;
    }

    .slide-5-2 .slide-part-right img {
        margin-top: 45px;
    }

    .slide-5-3 .slide-row-2 {
        font-size: 22px;
    }

    .slide-5-3 .slide-row-3 .slide-part-left {
        font-size: 22px;
    }

    .slide-6-1 .slide-row-2 {
        padding-top: 55px;
    }

    .slide-6-2 .slide-6-2-title {
        font-size: 27px;
    }

    .slide-6-2 .slide-6-2-title span {
        font-size: 44px;
    }

    .slide-6-2 .slide-6-2-body {
        font-size: 22px;
    }

    .slide-6-5 .slide-row-1 .slide-title {
        margin-bottom: 50px;
    }

    #slide-6-5-img-2 {
        width: 130px;
        right: 110px;
    }

    .slide-6-6 {
        padding-top: 27px;
    }

    .slide-6-6 .slide-row-2 .slide-part-left {
        padding: 35px 55px 0 55px;
    }

    .slide-6-7 .slide-row-1 {
        font-size: 26px;
    }
    
    .slide-6-7-item {
        width: 230px;
    }

    .slide-6-7-title {
        font-size: 26px;
    }

    .slide-6-9 {
        padding-top: 35px;
    }

    .slide-6-9-item {
        font-size: 16px;
    }

    .slide-6-10 {
        font-size: 22px;
    }

    .slide-6-10 .slide-row-1 {
        margin-top: 27px;
    }

    .slide-6-10 .slide-row-2 {
        margin-top: 45px;
    }

    .slide-6-11-title {
        font-size: 33px;
    }

    .slide-6-11 .slide-part-right {
        padding-top: 27px;
    }

    .slide-6-11-item .item-body .item-title {
        font-size: 28px;
    }

    .slide-6-11-item .item-body .item-text {
        font-size: 18px;
    }
    
    #popup-6-11 .modal-content .modal-body {
        padding-top: 15px !important;
    }

    #popup-6-11-help, #popup-6-12-help, #slide-6-11-browse, #slide-6-12-back, #popup-6-14-help, #popup-6-15-help, #slide-6-16-browse, #slide-6-17-back {
        top: 0px;
    }

    .slide-6-12-title {
        font-size: 22px;
    }

    #popup-6-15 .modal-body .popup-info-title {
        font-size: 20px !important;
    }

    .slide-6-16 .slide-row-1 .slide-title {
        font-size: 22px;
    }

    .slide-6-16 .item-img {
        width: 75px;
    }

    .slide-6-16 .item-img img {
        width: 60px;
    }

    #slide-6-16-9 {
        width: 210px;
    }

    .slide-6-17 .item-body {
        font-size: 22px;
    }

    .slide-8-1 .slide-row-1 {
        font-size: 27px;
        margin-top: 35px;
    }

    .slide-8-1 .slide-row-2 {
        font-size: 22px;
    }

    .slide-8-1 .slide-row-2 img {
        width: 30px;
    }

    .slide-8-1 .slide-row-3 {
        margin-top: 70px;
    }

    .slide-8-1-item {
        font-size: 22px;
    }

    .slide-8-1-item img {
        margin-bottom: 27px;
    }

    .slide-8-2 .slide-row-1 {
        font-size: 22px;
    }

    .slide-9-1 .slide-row-1 {
        margin-top: 50px;
        padding-left: 80px;
    }

    .slide-9-1-item {
        font-size: 22px;
        margin-bottom: 36px;
    }

    .slide-9-1-item ul li {
        font-size: 22px;
    }

    .menu-item {
        margin: 30px 13px 10px 13px;
        font-size: 11px;
    }

    #popup-home .modal-content {
        width: 450px;
    }

}

@media screen and (max-width: 1024px) {
    .wrap {
        margin: 0 auto -24px;
        padding: 10px 0 24px;
    }
    
    .footer {
        height: 36px;
    }
    
    .footer-1 .pull-right img {
        height: 30px;
    }

    .footer-2 .pull-right img, .footer-2 .pull-left img, .footer-1 .pull-left img {
        height: 25px;
    }

    .footer .pull-right {
        margin: 5px 5px 0 0;
    }
    
    .title-update-data {
        font-size: 55px;
    }

    #update-form {
        margin-top: 30px;
    }
    
    #update-form .form-group {
        height: 60px;
    }
    
    #update-form label {
        font-size: 18px;
    }
    
    .form-control {
        font-size: 16px;
        height: 36px;
    }
    
    .update-button {
        width: 150px;
        height: 40px;
    }
    
    .update-footer {
        margin-top: 30px;
    }

    .category-title {
        font-size: 32px;
    }

    .category-title span {
        font-size: 25px;
    }

    .category-subtitle {
        font-size: 45px;
        line-height: 45px;
    }

    .category-subtitle span {
        font-size: 40px;
        line-height: 42px;
    }

    .category-menu-item {
        padding: 10px 28px;
    }
    
    .category-menu-item-container {
        font-size: 13px;
    }
    
    .category-menu-item-container img {
        height: 65px;
        margin: 10px 0;
    }
    
    .padding-30 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .slider .category-item {
        font-size: 18px;
        margin-top: 25px;
    }

    .category-item ul li {
        margin-bottom: 14px;
    }

    .slide-title {
        font-size: 22px;
    }

    .slide-1-2 .slide-title {
        font-size: 20px !important;
        margin-top: 8px;
    }

    .slide-1-2 .slide-row-1, .slide-1-2 .slide-row-2, .slide-1-2 .slide-row-3 {
        margin-top: 22px;
    }

    .slide-1-2-body {
        font-size: 18px;
    }

    .slide-1-3 .slide-part-left, .slide-1-3 .slide-part-right {    
        padding-top: 12px;
    }

    .slide-1-3 .col-lg-2 {
        font-size: 12px;
    }
    
    #popup-1-6-help {
        right: -15px;
    }

    .slide-1-1 .slide-part-left, .slide-1-4 .slide-part-left, .slide-1-5 .slide-part-left, .slide-1-6 .slide-part-left {
        margin-top: 22px;
    }
    
    .slide-2-2 .slide-row-1 {
        font-size: 16px;
    }

    .slide-2-2-item {
        width: 120px;
    }

    .slide-2-2-item-title {
        font-size: 17px;
    }

    .slide-2-2-item-risiko {
        font-size: 16px;
    }
    
    .slide-2-2 .slide-row-2 {
        padding: 15px 0 10px 0;
    }

    .slide-2-3 {
        padding-top: 15px;
    }

    .slide-2-3 .slide-row-1 {
        font-size: 25px;
    }

    .slide-2-3 .slide-row-2 {
        font-size: 14px;
    }
    
    .slide-2-4 {
        padding-top: 30px;
    }

    .slide-3-3 .slide-row-1, .slide-3-4 .slide-row-1 {
        font-size: 18px;
    }

    .slide-4-1-item {
        font-size: 13px;
    }

    .slide-4-2 .slide-part-left, .slide-4-3 .slide-part-left {
        font-size: 18px;
    }
    
    .slide-4-6 .slide-part-left, .slide-4-7 .slide-part-left {
        font-size: 18px;
    }

    .slide-4-6 .slide-part-right img:first-child {
        margin-bottom: 20px;
    }
    
    #popup-4-6 .modal-content, #popup-4-7 .modal-content {
        width: 70% !important;
    }

    #popup-4-6 .modal-body-left {
        padding-top: 10px;
        font-size: 18px;
    }

    .slide-4-7 .slide-part-right img:first-child {
        margin-top: 27px;
        margin-bottom: 20px;
    }

    .slide-5-2 .slide-part-left {
        padding-top: 40px;
    }

    .slide-5-2 .slide-part-right img {
        margin-top:35px;
    }

    .slide-5-3 .slide-row-2 {
        font-size: 18px;
    }

    .slide-5-3 .slide-row-3 .slide-part-left {
        font-size: 18px;
    }
    
    .slide-5-3 .slide-row-3 {
        padding-top: 15px;
    }
    
    .slide-5-3 .slide-row-3 .slide-part-right {
        font-size: 16px;
    }
    
    .slide-6-1 .slide-row-1 {
        padding-top: 10px;
    }

    .slide-6-1 .slide-row-2 {
        padding-top: 25px;
    }

    .slide-6-2 .slide-6-2-title {
        font-size: 22px;
    }

    .slide-6-2 .slide-6-2-title span {
        font-size: 36px;
    }

    .slide-6-2 .slide-6-2-body {
        font-size: 18px;
    }
    
    .slide-6-2 .slide-6-2-body ul li {
        margin-bottom: 12px;
    }
    
    .slide-6-3-item {
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .slide-6-4 .slide-row-1 {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .slide-6-5 .slide-row-1 .slide-title {
        margin-bottom: 30px;
    }
    
    .slide-6-5 .slide-row-2 {
        font-size: 20px;
    }

    #slide-6-5-img-2 {
        width: 100px;
        right: 90x;
    }

    .slide-6-6 {
        padding-top: 18px;
    }

    .slide-6-6 .slide-row-2 .slide-part-left {
        padding: 25px 40px 0 40px;
        font-size: 18px;
    }

    .slide-6-7 .slide-row-1 {
        font-size: 23px;
        margin-bottom: 10px;
    }
    
    .slide-6-7 .slide-row-2 {
        margin-bottom: 10px;
    }
    
    .slide-6-7 .slide-row-3 {
        font-size: 16px;
    }
    
    .slide-6-7-item {
        width: 170px;
    }

    .slide-6-7-title {
        font-size: 22px;
    }
    
    .slide-6-8 .slide-row-1 {
        margin-bottom: 10px;
    }

    .slide-6-9 {
        padding-top: 10px;
    }
    
    .slide-6-9 .back-icon {
        top: -15px;
    }

    .slide-6-9-item {
        font-size: 16px;
    }
    
    .slide-6-9-img img {
        width: 140px;
    }
    
    .slide-6-9 .slide-row-3 {
        margin-bottom: 15px;
    }
    
    .slide-6-9-item img {
        width: 75px;
    }

    .slide-6-10 {
        font-size: 22px;
    }

    .slide-6-10 .slide-row-1 {
        margin-top: 20px;
    }

    .slide-6-10 .slide-row-2 {
        margin-top: 35px;
    }

    .slide-6-11-title {
        font-size: 28px;
    }
    
    .slide-6-11-body {
        font-size: 18px;
    }

    .slide-6-11 .slide-part-right {
        padding-top: 27px;
    }

    .slide-6-11-item .item-body .item-title {
        font-size: 28px;
    }

    .slide-6-11-item .item-body .item-text {
        font-size: 18px;
    }

    #popup-6-11-help, #popup-6-12-help, #slide-6-11-browse, #slide-6-12-back, #popup-6-14-help, #popup-6-15-help, #slide-6-16-browse, #slide-6-17-back {
        top: 0px;
    }

    .slide-6-12-title {
        font-size: 18px;
    }
    
    .slide-6-12 .slide-part-left, .slide-6-12 .slide-part-right {
        padding-top: 45px;
    }
    
    .slide-6-12 .slide-part-left img, .slide-6-12 .slide-part-right img {
        margin-top: 10px;
        margin-bottom: 0px;
    }
    
    .slide-6-12 .slide-part-left ul, .slide-6-12 .slide-part-right ul {
        width: 70%;
    }
    
    .slide-6-12 .slide-part-left ul li, .slide-6-12 .slide-part-right ul li {
        font-size: 16px;
    }
    
    #popup-6-12 .modal-content .modal-body {
        padding-top: 10px !important;
    }
    
    #popup-6-12 ul li {
        margin-bottom: 10px;
    }
    
    #popup-6-14 .modal-body {
        padding-bottom: 10px !important;
    }

    #popup-6-15 .modal-body .popup-info-title {
        font-size: 17px !important;
    }
    
    #popup-6-15 .modal-body {
        padding-top: 10px !important;
    }
    
    .slide-6-15 .slide-row-1 {
        padding-top: 20px;
    }
    
    #popup-6-15 .modal-body .popup-info-title {
        padding-bottom: 8px;
    }

    .slide-6-16 .slide-row-1 .slide-title {
        font-size: 20px;
    }
    
    .slide-6-16 .slide-row-2 {
        padding-top: 20px;
    }

    .slide-6-16 .item-img {
        width: 65px;
    }

    .slide-6-16 .item-img img {
        width: 50px;
    }

    #slide-6-16-9 {
        width: 180px;
    }

    .slide-6-17 .item-body {
        font-size: 18px;
    }

    .slide-8-1 .slide-row-1 {
        font-size: 22px;
        margin-top: 15px;
    }

    .slide-8-1 .slide-row-2 {
        font-size: 18px;
    }

    .slide-8-1 .slide-row-2 img {
        width: 24px;
    }

    .slide-8-1 .slide-row-3 {
        margin-top: 40px;
    }

    .slide-8-1-item {
        font-size: 18px;
    }

    .slide-8-1-item img {
        margin-bottom: 22px;
    }

    .slide-8-2 .slide-row-1 {
        font-size: 18px;
    }
    
    .slide-8-2 .slide-row-2 img {
        margin-top: 10px;
    }

    .slide-9-1 .slide-row-1 {
        margin-top: 10px;
        padding-left: 40px;
    }

    .slide-9-1-item {
        margin-bottom: 20px;
    }

    .slide-9-1-item ul li {
        font-size: 18px;
    }
    
    .slide-9-1-item img {
        width: 90px;
    }
    
    #menu {
        height: 100px;
        bottom: 90px;
    }
    
    .menu-text {
        height: 100px;
        width: 35px;
        bottom: 90px;
    }

    .menu-item {
        margin: 15px 8px 8px 8px;
        font-size: 10px;
    }
    
    .menu-item-img {
        height: 50px;
        margin-bottom: 9px;
    }

    .menu-item-1 {
        width: 70px;
    }

    .menu-item-1 img {
        width: 43px;
    }

    .menu-item-2 {
        width: 70px;
    }

    .menu-item-2 img {
        width: 46px;
    }

    .menu-item-3 {
        width: 65px;
    }

    .menu-item-3 img {
        width: 42px;
    }

    .menu-item-4 {
        width: 80px;
    }

    .menu-item-4 img {
        width: 75px;
    }

    .menu-item-5 {
        width: 70px;
    }

    .menu-item-5 img {
        width: 47px;
    }

    .menu-item-6 {
        width: 70px;
    }

    .menu-item-6 img {
        width: 44px;
    }

    .menu-item-7 {
        width: 70px;
    }

    .menu-item-7 img {
        width: 50px;
    }

    .menu-item-8 {
        width: 70px;
    }

    .menu-item-8 img {
        width: 50px;
    }

    #popup-home .modal-content {
        width: 450px;
    }
    
    .popup-help-icon, .popup-info-icon, .browse-icon, .back-icon {
        width: 45px; 
        top: 0;
        right: 0;
    }
    
    .modal-header .popup-close {
        width: 35px !important;
    }
    
    .modal-header {
        padding: 20px 0 0 30px !important;
    }
    
    .popup-info-title {
        font-size: 18px !important;
    }
    
    .modal-body {
        padding: 18px !important;
    }
    
    .modal-content {
        font-size: 16px !important;
        width: 330px !important;
    }
}
